.formContainer {
  padding: 1rem;
}

.urlWrap {
  display: flex;
  align-items: center;
  gap: 1px;
  margin: 1rem 0;
  align-items: stretch;
}

.selectItem {
  -webkit-text-stroke: 1px #333;
  padding: 0 10px;
  font-weight: 900;
}

.selectItem:nth-of-type(1) {
  color: green;
}
.selectItem:nth-of-type(2) {
  color: yellow;
}
.selectItem:nth-of-type(3) {
  color: blue;
}
.selectItem:nth-of-type(4) {
  color: red;
}
.selectItem:nth-of-type(5) {
  color: blueviolet;
}

.urlInput {
  flex-grow: 1;
}

.urlInput input {
  padding: 0.55rem;
}

.urlInput label {
  top: -8px;
}

.keyValFormWrap {
  width: 200%;
  display: flex;
  transition: all 0.4s linear;
}

.keyValFormWrapWindow {
  width: 100%;
  overflow: hidden;
  margin-bottom: 1rem;
}
