.auth__container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth__form {
  width: 100%;
  max-width: 600px;
  margin-top: 0.5rem;
}

.auth__title {
  margin-bottom: 2rem;
}

.auth__button {
  margin-top: 1rem;
}

.auth__message {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.auth__textfield {
  margin-top: 0.625rem;
  margin-bottom: 0.25rem;
}
