.header {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  background-color: var(--mui-palette-grey-800);
  padding: 1rem;
  width: 100%;
  z-index: 100;
  transition: all 0.25s ease;
}

.nav {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.header.isScroll {
  background-color: var(--mui-palette-grey-400);
  padding: 0.3rem 1rem;
}

.header__skeleton {
  min-width: 8rem;
  min-height: 2.5rem;
}
