.header {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  background-color: var(--mui-palette-grey-800);
  padding: 0.7rem 1rem;
  width: 100%;
  z-index: 100;
  transition: all 0.25s ease;
}

.nav {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav__links {
  display: flex;
  gap: 0.3rem;
}

.nav__buttons {
  display: flex;
  gap: 0.5rem;
}

.header.isScroll {
  background-color: var(--mui-palette-grey-400);
  padding: 0.3rem 1rem;
}

.button__skeleton {
  min-width: 5.6rem;
  min-height: 2.2rem;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  text-decoration: none;
}

.isScroll .header__logo_title,
.isScroll .header__button {
  color: var(--mui-palette-primary-700);
}

.isScroll .header__logo_title:hover,
.isScroll .header__button:hover {
  color: var(--mui-palette-primary-main);
}

.header__button {
  color: var(--mui-palette-primary-light);
}

.header__logo_title {
  color: var(--mui-palette-secondary-light);
}

.header__logo_title:hover {
  color: var(--mui-palette-secondary-200);
}

.header__button:hover {
  color: var(--mui-palette-primary-100);
}

.header__icon_button:hover {
  color: var(--mui-palette-secondary-light);
  background-color: #eeeeee10;
}

.isScroll .header__icon_button {
  color: var(--mui-palette-secondary-main);
}

.isScroll .header__icon_button:hover {
  color: var(--mui-palette-secondary-light);
  background-color: #eeeeee10;
}
